name: Build

on:
  push:
    paths-ignore:
      - '**/*'
      - '!.github/workflows/build.yml'
      - '!src/**/*.csproj'
      - '!src/**/*.cs'
    branches: 
    - '*'

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install .NET MAUI workload
      run: dotnet workload restore --project AppCenterExtensions.Maui.csproj
      working-directory: src/AppCenterExtensions.Maui
    - name: Restore workloads
      run: dotnet workload restore
      working-directory: src
    - name: Build with dotnet
      run: dotnet build --configuration Release
      working-directory: src
    - name: Test with dotnet
      run: dotnet test --configuration Release --no-build
      working-directory: src
